# Python
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# Data
*.csv
!data/stock_list.csv

# Models
*.pt
*.h5

# OS
.DS_Store
Thumbs.db
